<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Forgot Password</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/static/css/styles.css">
  <script src="/static/validation.js" defer></script>
</head>
<body>
  <div class="container">
    <div class="logo-panel"></div>
    <div class="form-panel">
      <div class="form-box">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <div class="flash-messages">
              {% for category, message in messages %}
                <div class="alert alert-{{ category }}">{{ message }}</div>
              {% endfor %}
            </div>
          {% endif %}
        {% endwith %}
        <h2>Forgot Password</h2>
        <form method="POST" action="/forgot" onsubmit="return validate_forgot_password_Form()">
          <input type="email" name="email" placeholder="Email" required>
          <input type="password" name="password" placeholder=" New Password" required>
          <button type="submit">Forgot Password</button>
        </form>
        <p class="links">
          Remembered you password? <a href="/login">login</a><br>
          <a href='/signup'>Don't have an account then sign up?</a>
        </p>
      </div>
    </div>
  </div>
</body>
</html>